<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>
    <a href="/recipes">Recipes</a> |
    <a href="/recipes/create">Create new recipes</a>
</p>

<p>
    <a href="/signup">Register</a> |
    <a href="/login">Login</a> |
    <a href="/user-profile">User Profile</a>
    <br>

</p>