<h2>Create a Recipe</h2>

<form action="/recipes/create" method="POST">

  <label> Title:
    <input type="text" name="title" required />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"></textarea>
  </label>
<p>Select Category</p>
  <label> Category:
    <input type="radio" name="category" value="Thai"> Thai <br>
    <input type="radio" name="category" value="American"> American <br>
    <input type="radio" name="category" value="American"> Chinese <br>
    <input type="radio" name="category" value="American"> Mexican <br>
    <input type="submit" value="submit">  
  </label>

<label> Ingredients:
<p>Select your favourite Ingredients</p>

    <select name="ingredients" class="form-select"  multiple>
      <option selected>select ingredient</option>
        <option name="ingredient1" value="Chicken">Chicken</option>
        <option name="ingredient2" value="Beef">Beef</option>
        <option name="ingredient3" value="Veg">Veg</option>
        <option name="ingredient4" value="Tofu">Tofu</option>
        <option name="ingredient5" value="Fish">Fish</option>
        <option name="ingredient6" value="Tomato">Tomato</option>
        <option name="ingredient7" value="Onions">Onions</option>
        <option name="ingredient8" value="Carrots">Carrots</option>
        <option name="ingredient9" value="Lettuce">Lettuce</option>
    </select>
  
</label>
  <button type="submit"> Create </button>
</form>
