<h2>Create a Recipe</h2>

<form action="/recipes/create" method="POST">

  <label> Title:
    <input type="text" name="title" required />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"></textarea>
  </label>
<p>Select Category</p>
  <label> Category:
    <input type="radio" name="category" value="Thai"> Thai <br>
    <input type="radio" name="category" value="American"> American <br>
    <input type="radio" name="category" value="American"> Chinese <br>
    <input type="radio" name="category" value="American"> Mexican <br>
    <input type="submit" value="submit">  
  </label>

<label> Ingredients:
<p>Select your favourite Ingredients</p>

    <select name="ingredients" class="form-select"  multiple>
      <option selected>select ingredient</option>
        <option name="ingredient1" value="Lactose intolerance">Lactose intolerance</option>
        <option name="ingredient2" value="Gluten intolerance or sensitivity">Gluten intolerance or sensitivity</option>
        <option name="ingredient3" value="Vegetarian">Vegetarian</option>
        <option name="ingredient4" value="Vegan">Vegan</option>
        <option name="ingredient5" value="Kosher">Kosher</option>
        <option name="ingredient" value="Keto">Keto</option>
        <option name="ingredient" value="Diabetes">Diabetes</option>
        <option name="ingredient" value="Dairy-free">Dairy-free</option>
        <option name="ingredient" value="Low carb">Low carb</option>
        <option name="ingredient" value="Food allergies"></option>Food allergies</option>
    </select>
  
</label>
  <button type="submit"> Create </button>
</form>
