<h2>Create a Recipe</h2>

<form action="/recipes/create" method="POST">

  <label class="title"> Title:
    <input type="text" name="title" required />
  </label>

  <label class="description"> Description:
    <textarea name="description" cols="30" rows="4"></textarea>
  </label>
  <p class="category">Category</p>
<p class="subtitle">Select Category:</p>
   <label for="category1">Mexican</label> <input type="radio" name="category" id="category1" value="mexican"> <br>
     <label for="category2">American</label> <input type="radio" name="category" id="category2" value="american"> <br>
      <label for="category3">Chinese</label> <input type="radio" name="category" id="category3" value="chinese"> <br>
       <label for="category4">Thai</label> <input type="radio" name="category" id="category4" value="thai"> <br>
   
  </label>
<br>  <br>  

<p class="ingredients">Ingredients</p> 
<p id="subtitle">Select your favourite Ingredients:</p> <br>


  <label for="ingredient1">Chicken</label> <input type="checkbox" name="ingredient" id="ingredient1" value="chicken"> <br>
      <label for="ingredient2">Beef</label> <input type="checkbox" name="ingredient" id="ingredient2" value="beef"> <br>
      <label for="ingredient3">Fish</label> <input type="checkbox" name="ingredient" id="ingredient3" value="fish"> <br>
      <label for="ingredient4">Veg</label> <input type="checkbox" name="ingredient" id="ingredient4" value="veg"> <br>
     <label for="ingredient5">No Veg</label> <input type="checkbox" name="ingredient" id="ingredient5" value="no-veg"> <br><br>
     
      
  
</label>
  <button type="submit" class="create"> Create </button>
</form>
